# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Backend
DATA_PATH=../hourlyLoadData_NE_weather_with_holiday.csv
MODEL_PATH=backend/app/models/lightgbm_model.pkl
ANOMALY_MODEL_PATH=backend/app/models/anomaly_model.pkl
